.container {
	display: grid;
	grid-template-columns: 30% 65%;
	gap: 5%;
	padding: 10px;
}

.list-container {
	max-width: 400px;
	max-height: 600px;
	overflow-y: scroll;
}

.filter {
	display: flex;
	flex-direction: column;

}
.filter input {
	width: 96%;
	height: 60px;
	font-size: 36px;
	max-width: 400px;
}

ul{
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	cursor: pointer;
	border-bottom: 0.5px solid #ffffff;
}